@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,800');
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Exo 2', sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

h1,h2,h3 {
    color: #404041;
}

.bg-forms {
    background-image: url(static/bgshapesblue.jpg);
}

.bg-intro {
    background-image: url(static/bg\ -mountain.jpg);
}

ul { list-style: none; }

.check-list {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    left: 0;
}

.check-list li {
    padding: 16px 0; 
    color: #797979;
    text-align: left;
}
.check-list i {
    margin-right: 5px; 
    color: rgb(82, 113, 255);
}

html, body {
    width: 100%;
    height: 100%;
    max-width: 100vw;
}

.main-container,
.div-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.div-content {
    min-height: 100vh;
}

.nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    padding: 0px 48px;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(0,0,0,.1)!important;
    height: 60px;
}

.nav > img { height: 30px; }

.nav > ul {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    list-style: none;
}

.nav > ul > li { padding: 0 8px; }

.nav > ul > li > a { 
    text-decoration: none;
    color: #3d3f46;
}

.nav > ul > .nav-cta > a { 
    text-decoration: none;
    color: rgb(82, 113, 255);
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.center-flex-content {
    align-items: center;
    justify-content: center;
}

.card {
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 15px 15px -15px rgba(0,0,0,.25)
}

.card-title {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    background-color: #f0f3f7;
    font-size: 24px;
    font-weight: 600;
    justify-content: center;
    flex-direction: column;
    padding: 32px 48px;
    border-bottom: 1px solid #ccc;
}

.desconto-semestral::before { content: '-15%'; }
.desconto-trimestral::before { content: '-10%'; }
.desconto-anual::before { content: '-25%'; }

.card-title::before {
    position: absolute;
    top: -10px;
    background-color: rgb(82, 113, 255);
    color: #fff;
    padding: 4px;
    border-radius: 2px;
    right: 10px;
}

.card-title > p {
    color: rgb(82, 113, 255);
}

.card-content {
    max-width: 300px;
    background-color: #fff;
    padding: 32px 48px;
    text-align: center;
}

.card-content > h2 { 
    font-size: 24px;
    margin-bottom: 16px;
}

.card-content > .text-info {
    font-size: 18px;
    font-weight: 300;
}

.card-content > .text-price {
    font-size: 32px;
    padding: 16px;
}

.text-price.main-color {
    color: #788ae8;
}

.cta {
    width: 100%;
    display: block;
    border: 2px solid #788ae8;
    padding: 16px;
    border-radius: 10px;
    margin: 16px 0;
    text-decoration: none;
    color: rgb(82, 113, 255);;
    font-size: 18px;
    transition: all .5s;
}

.cta.linear { 
    border:none;
    background: rgb(119,113,227);
    background: linear-gradient(90deg, rgba(119,113,227,1) 40%, rgba(93,86,207,1) 66%);
    color: #fff;
    margin-top: 48px;
    box-shadow: 0 15px 15px -15px rgba(0,0,0,.25);
}

.cta.contato {
    width: 300px;
    margin: 0 auto;
}

.card-content > .trial-text {
    font-weight: 300;
}

.card-content > .text-riscado {
    font-weight: 300;
    text-decoration: line-through;
}

.intro-container {
    padding: 48px 0;
    text-align: center;
}

.intro-container h1 {
    font-size: 36px;
    padding: 8px 0;
}

.intro-container p {
    font-size: 22px;
    font-weight: 300;
}

.garantia-container {
    text-align: center;
    width: 100%;
    padding: 48px 0;
}

.garantia-container .juros {
    color: #504d4d;
    font-size: 16px;
}
  
.garantia-container p {
    font-size: 39px;
    color: #504d4d;
    padding: 8px 0;
}

.text-black { color: #504d4d !important;  }

.col-container {
    flex-direction: column;
}

.title-bold {
    font-size: 17px !important;
    font-weight: bold;
    text-align: left;
}

.light-text {
    font-size: 17px !important;
    color: #797979 !important;
    margin-bottom: 16px;
    text-align: left;
}

footer {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 32px 48px;
    align-items: center;
    background: rgb(69, 55, 99);
}

footer ul > li > a {
    color: #fff;
    text-decoration: none;
}

.col {
    padding: 0 48px;
    flex: 1;
  }

.bg-fluxograma {
    background-image: url(static/Transparente.png);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.headline { 
    font-size: 32px !important;
    text-align: left !important;
    color: #404041;
    line-height: 1 !important;
    padding: 0 !important;
}

.sub-head {
    font-size: 18px !important;
    margin-top: 16px;
    font-weight: 400;
    text-align: left !important;
    line-height: 1.5 !important;
}

.btn-cta {
    border: none;
    background: rgb(119,113,227);
    background: linear-gradient(90deg, rgba(119,113,227,1) 40%, rgba(93,86,207,1) 66%);
    color: #fff;
    width: 200px;
    display: block;
    padding: 16px;
    border-radius: 10px;
    margin: 4px 0;
    text-decoration: none;
    box-shadow: 0 15px 15px -15px rgba(0,0,0,.25);
    font-size: 20px;
    transition: all .5s;
    text-align: center;
}

.app-modal-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    min-height: 100vh;
    padding: 0 .75em;
    padding-top: 15%;
    max-width: 100%;
}

#videoApp {
    width: 60%;
    height: 100%;
    margin-top: -20%;
}

.content-gifs {
    min-height: 80vh !important;
    box-shadow: 0 0 2px #ccc;
    z-index: 0 !important;
}

#btn-video-app,
#close-modal-video {
    cursor: pointer;
}

.btn-border {
    border: 2px solid #4f6cff;
    border-radius: 15px;
    text-align: center !important;
    box-shadow: 0 15px 15px -15px rgba(0,0,0,.25);
}

.tabs-container {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.tabs {
    display: flex;
    margin-bottom: 16px;
    margin-left: 5%;
}

.tab-content {
    display: none;
    padding: 5%;
    max-width: 100%;
    text-align: center;
}

.tab-content img { max-width: 100%; }

.active {
    display: block !important;
}

li.tab {
    margin-right: 16px;
    font-size: 18px;
    cursor: pointer;
}

li.tab.active {
    border-bottom: 3px solid #3F51B5;
}

.btn-mobile {
    display: none;
    justify-content: center;
}

.btn-desktop { display: flex; }

@media only screen and (max-width: 1023px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    #videoApp {
        width: 300px;
        height: 420px;
        margin-top: 0;
    }

    .btn-mobile { display: flex; }
    .btn-desktop { display: none; }

    .bg-fluxograma { display: none; }

    .garantia-container .juros,
    .garantia-container p {
        color: #fff;
    }

    .nav {
        flex-direction: column;
        justify-content: space-evenly;
        /* height: 90px; */
    }

    .col {
        display: flex;
        flex-direction: column;
        padding: 0 0;
        width: 100%;
      }
    
    .app-modal-info {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 5%;
    }

    .content-gifs {
        min-height: 100vh !important;
        box-shadow: 0 0 2px #ccc;
        z-index: 0 !important;
    }

    .nav > ul {
        display: none;
    }
}