@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,800');
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Exo 2', sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

h1,h2,h3 {
    color: #404041;
}

.main-container {
  background: linear-gradient(135deg,#330867,#31a7bb);
  position: fixed;
  top: -10vh;
  left: 0;
  width: 100%;
  height: calc(100% + 10vh);
  transform: skewY(-5deg);
  box-shadow: 0 0 50px rgba(60,117,162,.4);
  z-index: -1;
}

.text-container {
  color: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  min-height: 95vh;
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}

p {
  margin: 16px 0;
  font-size: 17px;
  line-height: 22px;
}

p > b {
  font-weight: 600;
  color: burlywood;
}