@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,800');
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Exo 2', sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  display: flex;
  flex: 1;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  background-color: #f9f7f7;
}

.main-title {
  font-size: 20px;
  text-align: center;
  color: #7155c4;
  margin-bottom: 32px;
  margin-top: 16px;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.flex-row {
  display: flex;
  flex: 2;
  padding: 0 16px;
}

.flex-col { 
  flex-direction: column; 
  flex: 1;
}

.col-title {
  padding: 16px 0;
  font-size: 24px;
  text-align: center;
  color: #444;
}

.section-divider { box-shadow: inset 0px 4px 3px -3px #c4c4c4 }

.section-title {
  color: #7159C1;
  text-align: center;
  font-size: 24px;
  padding: 32px 0;
}

.text-notavailable {
  text-decoration: line-through;
}

.col-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 12px;
}

.text-purple { color: #7155c4; }

.text-link {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -48.045px;
  color: #777575;
  text-decoration: none;
  margin-top: 8px;
}

.sections {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.main-info { 
  color: #fff;
  font-size: 1.8rem; 
}

.sub-info {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 8px;
}

.btn-cta {
  background-color: #f9f7f7;
  color: #444;
  font-size: 20px;
  font-weight: 300;
  border: 0;
  border-left: 2px;
  border-style: solid;
  border-color: #7155c4;
  height: 55px;
  width: 90%;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 32px;
  box-shadow: 0 0 1px #777575;
  justify-content: center;
  align-items: center;
  display: flex;
}

.btn-comprar {
  width: 50%;
  margin: 32px auto;
  margin-top: 16px;
}

.preco {
  font-size: 24px;
  text-align: center;
  padding: 8px 0;
}

.content-end {
  display: flex; 
  justify-content: flex-end;
  margin-bottom: 16px;
}

.footer-text {
  padding: 8px 16px;
  color: #fff;
}

.bg-white { background: #f9f7f7 }

.text-promo {
  color: #504f4f;
  margin-top: 32px;
  text-align: center;
  font-size: 24px;
  width: 90%;
  margin: 0 auto;
}

.offer-list {
  display: flex;
  list-style: none;
  margin: 32px auto;
  margin-bottom: 64px;
  flex-direction: column;
  width: 80%;
  margin-left: 15%;
}

.offer-list > li {
  padding: 8px 0;
  color: #4e4a4a;
}

.offer-list > li > i {
  margin-right: 5px;
  color: #91c791;
}

.offer-list > li > .fa-times { color: #fd9f9f; }

.offer-title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #4e4a4a;
  padding-top: 32px;
}

.img-container {
  margin-bottom: -5px;
}

.footer {
  display: block;
  text-align: center;
  background-color: #7155c4;
  padding: 16px 0;
  color: #fff;
  font-weight: 300;
}

@media only screen and (max-width: 720px) {
  .hidden-mobile {
    display: none;
  }

  .flex-row {
    flex-direction: column;
  }

  .img-container {
    margin-bottom: 16px;
  }

}

@media only screen and (min-width: 1024px) {
  .intro-desktop {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .text-promo {
    margin-top: -10%;
  }

  .offer-list { margin-left: auto }
  .offer-list-desktop { margin-left: 20% }

  .btn-cta { width: 300px }

  .oferta {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .no-shadow-desktop {
    box-shadow: none;
  }

  .fix-desktop {
    margin-left: 20%;
    margin-bottom: 32px; 
  }
}